policy_module(usdsports, 1.100.1)

########################################
#
# Declarations
#

type usdsports_t;
type usdsports_exec_t;
init_daemon_domain(usdsports_t, usdsports_exec_t)

permissive usdsports_t;

type usdsports_initrc_exec_t;
init_script_file(usdsports_initrc_exec_t)

type usdsports_conf_t;
files_type(usdsports_conf_t)

type usdsports_var_lib_t;
files_type(usdsports_var_lib_t)

type usdsports_var_run_t;
files_type(usdsports_var_run_t)

type usdsports_port_t;
corenet_port(usdsports_port_t)

########################################
#
# usdsports local policy
#
allow usdsports_t self:process { fork };

allow usdsports_t self:fifo_file rw_fifo_file_perms;
allow usdsports_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(usdsports_t, usdsports_conf_t, usdsports_conf_t)
manage_files_pattern(usdsports_t, usdsports_conf_t, usdsports_conf_t)

manage_dirs_pattern(usdsports_t, usdsports_var_lib_t, usdsports_var_lib_t)
manage_files_pattern(usdsports_t, usdsports_var_lib_t, usdsports_var_lib_t)
files_var_lib_filetrans(usdsports_t, usdsports_var_lib_t, { dir file })

manage_dirs_pattern(usdsports_t, usdsports_var_run_t, usdsports_var_run_t)
manage_files_pattern(usdsports_t, usdsports_var_run_t, usdsports_var_run_t)

sysnet_dns_name_resolve(usdsports_t)
corenet_all_recvfrom_unlabeled(usdsports_t)

allow usdsports_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(usdsports_t)
corenet_tcp_sendrecv_generic_node(usdsports_t)
corenet_tcp_sendrecv_all_ports(usdsports_t)
corenet_tcp_bind_generic_node(usdsports_t)

gen_require(`
    type usdsports_port_t;
')
allow usdsports_t usdsports_port_t:tcp_socket name_bind;

gen_require(`
    type usdsports_port_t;
')
allow usdsports_t usdsports_port_t:tcp_socket name_connect;

domain_use_interactive_fds(usdsports_t)

files_read_etc_files(usdsports_t)

miscfiles_read_localization(usdsports_t)

sysnet_dns_name_resolve(usdsports_t)

allow usdsports_t usdsports_exec_t:file execute_no_trans;
allow usdsports_t self:process setsched;
corecmd_exec_ls(usdsports_t)
corenet_tcp_connect_http_port(usdsports_t)
dev_read_urand(usdsports_t)
fs_getattr_xattr_fs(usdsports_t)
kernel_read_system_state(usdsports_t)
